
.formulario h1 {
    color: black;
    font-size: 70px;
}

.formulario {
    text-align: center;
    margin-top: 230px;
}

.formulario label {
    font-size: 40px;
}

.formulario input {
    background: white;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 30px;
    width: 300px;
    color: black;

}

#entrar {
    background: rgb(2, 162, 255);
    border-radius: 5px;
    height: 35px;
    width: 120px;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .formulario {
        margin-top: 0;
    }
}
